/* =============================================================================
 * main
 * ========================================================================== */

.main {}

/*  main__inner
 * ========================================================================== */

.main__inner {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 16px;
}

/*  main__text
 * ========================================================================== */

.main__text {}
