/* =============================================================================
 * footer
 * ========================================================================== */

.footer {
  flex-shrink: 0;
  background-color: var(--outer-space);
}

/*  footer__inner
 * ========================================================================== */

.footer__inner {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 16px;
}

/*  footer__text
 * ========================================================================== */

.footer__text {
  color: #fff;
}
