# Включение механизма перезаписи
RewriteEngine On


# ==============================================================================
# Настройка прав доступа
# ==============================================================================

# Запрет доступа к файлам с перечисленными расширениями
<FilesMatch ".(htaccess|htpasswd)$">
Order Allow,Deny
Deny from All
</FilesMatch>

# Запрет на просмотр директорий
Options All -Indexes
